.LoginContainer{
    width: 100%;
    height: 100%;
    /* background-color: rgb(0, 183, 255); */
}
.form{
    width: 40%;
    height: 100%;
    float: left;
    outline :1px solid black;
    padding-top: 50px;
}
.Img{
    width: 60%;
    height: 100%;
    float: left;
    outline :1px solid black;

}

.Banner{
    width: 100%;
    height: 100%;
    object-fit:cover;
}




.logIn-Container{
    width: 80%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
}


.logIn-Container > h2,.logIn-Container > p,.logIn-Container > h4{
    margin: 10px;
}

.logIn-Container > input{
    margin-left: 10px;
    width: 100%;
    height: 40px;
    background-color: none;
    border: rgb(184, 184, 184) 1px solid ;
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    padding-left: 10px;
}
input:focus{
    outline: none;
}
.Sign-btn{
    width: 100%;
    height: 40px;
    margin: 10px 10px 0px 10px ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: linear-gradient(to right, hsl(251, 96%, 19%), hsl(246, 74%, 37%));
    color: white;
    cursor: pointer;
}

.noAcc{
    font-size:medium;
    margin-top: 20px;
    margin-left: calc(100%/5.5) ;
    

}
.signUp-link{
    font-weight: 900;
    color:  hsl(251, 65%, 42%);
    cursor: pointer;
}